.editor {
  --hover-stroke-width: 3px;

  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;

  &__content {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: var(--color-background);
  }

  &__node {
    transform-box: fill-box;
    transform-origin: center;
    fill: var(--color-primary);

    &--clickable {
      cursor: pointer;
    }
  }

  &__scale_node {
    fill: var(--color-secondary);
    stroke: none;

    &[data-dir="ne"], &[data-dir="sw"] {
      cursor: nesw-resize;
    }

    &[data-dir="nw"], &[data-dir="se"] {
      cursor: nwse-resize;
    }
  }
}
