.editor {
  --hover-stroke-width: 3px;
  --hover-stroke-color: var(--color-secondary);

  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;

  &__content {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: var(--color-background);
  }

  &__node {
    transform-box: fill-box;
    transform-origin: center;
    fill: var(--color-primary);

    &--clickable:hover, &--selected {
      cursor: pointer;
      stroke: var(--hover-stroke-color);
      stroke-width: var(--hover-stroke-width);
    }
  }
}
