@use "../../../common";

$icon-size: 1.5rem;

.context-bar {
  position: absolute;
  display: flex;
  column-gap: var(--spacing-s);
  padding: var(--spacing-s);
  background-color: transparent;
  color: var(--color-foreground);
  transform: translateX(-50%) translateY(calc(-100% - var(--spacing-m)));
  border-radius: var(--spacing-m);

  @include common.bg-area {
    border-radius: var(--spacing-m);
  }

  & hr {
    border: none;
    border-right: 1px solid var(--color-grayscale-500);
    margin: 0;
  }

  &__button {
    position: relative;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: var(--spacing-s);
    display: flex;
    align-items: center;
    flex: 0;
    margin: 0;
    border-radius: var(--spacing-sm);

    &:hover:not(&--expanded) {
        background-color: rgba(from var(--color-foreground) r g b / 5%);
    }

    &--dropdown {
      padding-right: var(--spacing-xs);
    }

    &--expanded {
      background-color: var(--color-primary-100);
      @include common.glow-box(var(--color-primary-100), 0px, 1.5);

      .context-bar__color-circle {
        border: 1px solid var(--color-grayscale-200);
      }
    }
  }

  &__icon-wrapper {
    display: flex;
    width: $icon-size;
    height: $icon-size;
    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__color-circle {
    box-sizing: border-box;
    width: $icon-size;
    height: $icon-size;
    border-radius: 100%;
  }

  &__dropdown-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-grayscale-200);
    height: $icon-size;
    width: $icon-size;
    :first-child {
      width: 1rem;
      height: 1rem;
    }
  }

  &__sub-menu-button-wrapper {
    position: relative;
  }

  &__sub-menu {
    position: absolute;
    display: none;
    left: -50%;
    top: calc(var(--spacing-m) * -1);
    transform: translateY(-100%);
    padding: var(--spacing-m);
    color: var(--color-foreground);

    &--visible {
      display: block;
    }

    @include common.bg-area {
      border-radius: var(--spacing-m);
    }
  }
}