:root {
  --color-primary-100: hsla(224, 88%, 55%, 1);
  --color-primary-200: hsla(233, 88%, 55%, 1);
  --color-primary-300: hsla(242, 88%, 55%, 1);

  --color-secondary-100: hsla(330, 90%, 62%, 1);

  --color-tertiary-100: hsla(40, 90%, 62%, 1);

  --color-grayscale-700: hsla(0, 0%, 9%, 1);
  --color-grayscale-600: hsla(0, 0%, 12%, 1);
  --color-grayscale-500: hsla(0, 0%, 13%, 1);
  --color-grayscale-400: hsla(0, 0%, 20%, 1);
  --color-grayscale-300: hsla(0, 0%, 60%, 1);
  --color-grayscale-200: hsla(0, 0%, 80%, 1);
  --color-grayscale-100: hsla(0, 0%, 100%, 1);

  --color-background: var(--color-grayscale-700);
  --color-foreground: var(--color-grayscale-100);

  --color-area: var(--color-grayscale-500);

  --spacing-xs: 0.25rem;
  --spacing-s: 0.5rem;
  --spacing-sm: 0.75rem;
  --spacing-m: 1rem;
  --spacing-l: 1.5rem;
  --spacing-xl: 3rem;
  --spacing-2xl: 6rem;
  --spacing-3xl: 9rem;
}

body {
  color: var(--color-foreground);
  background: var(--color-background);
}

.app {
  &__main {
    width: 100%;
    height: 100%;
  }
}