@mixin pseudo-background {
  &::before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    @content
  }

  &>* {
    z-index: 2;
  }
}

@mixin button-area {
  padding: var(--spacing-m);
  color: var(--color-foreground);
  @include pseudo-background {
    backdrop-filter: blur(5rem);
    background-color: rgba(from var(--color-grayscale-500) r g b / 50%);
    border-radius: 2rem;
  }
}

@mixin glow-box($color: currentcolor, $displacement: 0px, $factor: 1) {
  box-shadow:
    color-mix(in srgb, $color 48%, transparent)
    calc(0em + $displacement)
    calc(0.25em + $displacement)
    calc(0.75em * $factor);
}

@mixin glow-filter($color: currentcolor, $displacement: 0px, $factor: 1) {
  filter: drop-shadow(
    calc(0em + $displacement)
    calc(0.25em + $displacement)
    calc(0.75em * $factor)
    color-mix(in srgb, $color 48%, transparent));
}