@mixin pseudo-background {
  &::before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    @content
  }

  &>* {
    position: relative;
    z-index: 2;
  }
}

@mixin bg-area {
  @include pseudo-background {
    backdrop-filter: blur(30px);
    background-color: rgba(from var(--color-area) r g b / 40%);
    @content
  }
}

@mixin glow-box($color: currentcolor, $displacement: 0px, $factor: 1) {
  box-shadow:
    color-mix(in srgb, $color 48%, transparent)
    calc(0em + $displacement)
    calc(0.25em + $displacement)
    calc(0.75em * $factor);
}

@mixin glow-filter($color: currentcolor, $displacement: 0px, $factor: 1) {
  filter: drop-shadow(
    calc(0em + $displacement)
    calc(0.25em + $displacement)
    calc(0.75em * $factor)
    color-mix(in srgb, $color 48%, transparent));
}