.context-bar {
  position: absolute;
  transform: translateX(-50%) translateY(calc(-100% - var(--spacing-s)));
  padding: var(--spacing-m);
  background-color: var(--color-grayscale-500);
  display: flex;
  column-gap: 1rem;
  border-radius: var(--spacing-m);

  &__button {
    background-color: unset;
    border: none;
    cursor: pointer;
    font-size: 0.8rem;
  }

  &__button-icon  {
    display: block;

    svg {
      width: calc(1em * 1.5);
      height: calc(1em * 1.5);
    }
  }
}