@use "../../../common";

.toolbar {
  position: relative;
  display: flex;
  column-gap: var(--spacing-sm);
  margin: var(--spacing-m);
  background-color: transparent;
  pointer-events: auto;
  padding: var(--spacing-m);
  color: var(--color-foreground);

  @include common.bg-area {
    border-radius: 2rem;
  }

  &__container {
    left: 0;
    bottom: 0;
    pointer-events: none;
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  & > &__play-button--active, & > &__play-button:hover {
    color: var(--color-tertiary-100);
  }

  & > &__stop-button--active, &__stop-button:hover {
    color: var(--color-primary-100);
  }

  hr {
    border: none;
    border-right: 1px solid var(--color-grayscale-500);
    margin: calc(var(--spacing-m) * -1) 0;
    margin-right: var(--spacing-s);
  }

}
